@font-face {
    font-family: myFirstFont;
    src: url(./fonts/myFirstFont.woff);
    font-display: swap;
  }


body {
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    font-size: 16px;
    margin:0;
}

h1 {
    font-size: 100px;
    margin: 0;
    padding: 20px 20px 20px 20px;
}

h1, h2{
    font-family: myFirstFont, 'Times New Roman';
    text-align: center;
}

#twoCol {
    display: flex
}

#guessesDiv, #wordListDiv {
    width: 50%
}

#wordList {
    overflow-y: scroll;
    height: 150px;
    white-space: pre;

}
button{
    cursor: pointer;
}

#colorButtons {
    margin: 20px;
}

.normalButton {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 14px;
    border: 0;
    border-radius: 5px;
    padding: 10px 25px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    background-color: rgb(106, 170, 100);
    color: white;

}

.colorButton {
    height: 75px;
    width: 75px;
    border: none;
    margin: 5px;
}

input {
    text-align: center;
    margin: 20px;
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: large;

}



.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    display:flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modal-container.show {
    pointer-events: auto;
    opacity: 1;
}

.modal {
    background-color: white;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 600px;
    max-width: 100%;
}


#instructionsTitle {
    font-size: 30px;
}

#openInstructionsButton {
    width: 50px;
    height: 50px;
    background: url('./images/q-mark.png');
    background-size: 100%;
    box-shadow: none;
    margin: 10px 10px 0px 0px
}

#nav {
    text-align: right;;
}


@media screen and (max-width: 800px) {
    .colorButton {
        width: 13%;
        height: 0;
        padding-bottom: 13%;
    }
    #guessesDiv {
        display: none;
    }

    #wordListDiv {
        width:100%
    }
}